html, body {
    height: 100%;
    margin: 0;
    background: #F4F4F4;
    font-family: 'Roboto', sans-serif;
    color: #444;
    max-width: 1600px;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.no-scroll {
    overflow: hidden;
}
